{% extends 'DestinationGoals/DestinationGoals_base.html' %}
{% load staticfiles %}

{% block title %}Delete Confirmation{% endblock %}
{% block header %}{% endblock %}
{% block content %}

<br>
<br>
<p>By clicking yes, all data for</p>

    <p style="font-size: 30px; color: red;">
        <strong>{{ item.name }}</strong>
    </p>
<p>will be permanently
    deleted from the database. <br>Continue with deletion?</p>
<div class = "text-center">
<!--<div class = "container">-->
    <form method="post" action=".">
        <div class = "formObject">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <p>{{ destination_data.as_p }}</p>

        </div>
        <div class = "button">

            <input type="submit" value="Yes" name="save_item">

        </div>
    </form>
</div>


{% endblock %}
