{% extends 'LABucketListApp/LABucketListApp_base.html' %}
{% load static %}
{% block title %}Master List{% endblock %}
{% block header %}Destination Index{% endblock %}

{% block content %}

<div class="container">
    <div class="card-columns">
        {% for destination in page_obj %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ destination.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ destination.type }}</h6>
                <p class="card-text">{{ destination.price }}</p>
                <a href="{% url 'BucketList_details' pk=destination.id%}" class="card-link">Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="wrapper">
    <nav aria-label="Page navigation example">
        {% if page_obj.has_other_pages %}
            <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
            </ul>
        {% endif %}
    </nav>
</div>
<!--
{% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Back</a>
{% endif %}
<span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
</span>

{% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
{% endif %}

pagination -->
{% endblock %}


<!-- Previous version but now was updated using bootstrap
<table align="center">
        <tr>
            <td>Name</td>
            <td>Location Type</td>
            <td>Price</td>
        </tr>

        {% for destination in destinations %}
        <tr>
            <td>{{ destination.name }}</td>
            <td>{{ destination.type }}</td>
            <td>{{ destination.price }}</td>
        </tr>
        {% endfor %}
</table>
-->