{% extends "BookClubApp/BookClubApp_base.html" %}
{% load static %}
{% block title %}My Books{% endblock %}

{% block content %}
    <div class="content">
        <!-- iterate through books -->
         <div class="booklist">
            {% for book in books %}
             <div class="card">
                <h4 class="card-header"><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h4>
                 <div class="card-body">
                    <p class="card-title"><em>{{ book.author }}</em></p>
                 </div>
             </div>
            {% endfor %}
        </div>
        <button type="button" class="btn btn-secondary"><a href="{% url 'BookClubApp_AddBook' %}">Add Book</a></button>

    </div>
{% endblock %}