{% extends "BookClubApp/BookClubApp_base.html" %}

{% block title %}Book Club{% endblock %}

{% block header %}Your Book Club Lists!{% endblock %}

{% block content %}
    <!--Books I read section-->
    <div class="book-list">
        <h2>My Books</h2>
        <!--display books they've added to their read list-->
    </div>
    <!--Books I want to read section-->
    <div class="book-list">
        <h2>Wishlist</h2>
        <!--display books they've added to their wishlist-->
    </div>
{% endblock %}