{% extends "BookClubApp/BookClubApp_base.html" %}
{% load static %}
{% block title %}My Books{% endblock %}

{% block content %}
    <div class="content">
        <!-- iterate through books -->
         <div class="booklist">
            {% for book in books %}
             <div class="card">
                <h4 class="card-header">
                    <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                    <a class="icon" href="{% url 'BookClubApp_delete' pk=book.pk %}"><i class="fas fa-minus-circle" title="Delete"></i></a>
                    <a class="icon" id="delete-icon" href="{% url 'BookClubApp_edit' pk=book.pk %}"><i class="fas fa-edit" title="Edit"></i></a>
                </h4>
                 <div class="card-body">
                    <p class="card-title"><em>{{ book.author }}</em></p>
                 </div>
             </div>
            {% endfor %}
        </div>
        <a class="btn btn-secondary" href="{% url 'BookClubApp_AddBook' %}">Add Book</a>
    </div>
{% endblock %}