{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{%static '/css/ItemsAppStyle.css' %}" rel="stylesheet" type="text/css">
        <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
        <link href="sticky-footer.css" rel="stylesheet">
    </head>
        <title>OSRS Item Stats</title>
        <header class="banner"></header>
        <body>
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-dark btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
            <footer class="navbar navbar-expand-sm navbar-dark bg-dark text-white">
                <p>
                    This website's content is of &copy; 1999 - 2021 Jagex Games Ltd, 220 Science Park, Cambridge, CB4 0WA, United Kingdom. All Rights Reserved.
                </p>
            </footer>
        </body>
</html>