<ul class="nav">
  <li class="nav_2"><a class="active" href="{% url 'itemsApp_home' %}">Home</a></li>
  <li class="nav_2"><a href="{% url 'new_item' %}">Add Item</a></li>
  <li class="nav_2"><a href="{% url 'display_items' %}">View Items</a></li>
  <li class="nav_2"><a href="https://vexelior.github.io/" target="_blank">Contact</a></li>
  <li class="nav_2"><a href="{% url 'itemsApp_home' %}">About</a></li>
  <li class="nav_2"><a href="https://oldschool.runescape.com/" target="_blank">Play OSRS!</a></li>
</ul>
