p {
   color: white;
}
h1 {
   color: white;
}


body {
   background-image: url(https://m.foolcdn.com/media/dubs/images/stock_chart_up_2.original.jpg);
   background-color: transparent;

}

ul {
   text-align: center;
   font-size: 20px;
   font-style: italic;
}