
* {
    margin: 0;
}

body {
    background-color: #D8D174;
    height: 100%;
    margin: 0;
	padding: 0;
}

p {
    font-size: 1.5em;
    color: white;
    weight: bold;
}

h1 {
    font-size: 2em;
    color: white;
    weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.jumbotron {
    background-image: url('/static/images/garden12.jpg');
}

.form-container {
    display: block;
    width: 50%;
    background: #F6FEDB;
    border-radius: 10px;
    box-shadow: 15px 10px 10px #f5f5f5;
    margin: 2vw auto 50px auto;
    opacity: .8;
}
