
* {
    margin: 0;
}

body {
    background-color: #D8D174;
    height: 100%;
    margin: 0;
	padding: 0;
}

p {
    font-size: 1.5 em;
    color: whitesmoke;
}

h1 {
    color: white;
}

.container {
    width: 40%;
    margin: 30px auto;
    background: #F6FEDB;
    border-radius: 10px;
    box-shadow: 15px 10px 10px #f5f5f5;
}

