
* {
    margin: 0;
}

body {
    background-color: #D8D174;
    height: 100%;
    margin: 0;
	padding: 0;
}

p {
    font-size: 1.5em;
    color: white;
    weight: bold;
}

h1 {
    font-size: 2em;
    color: white;
    weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.jumbotron {
    background-image: url('/static/images/garden12.jpg');
}

.form-container {
    display: block;
    width: 50%;
    background: rgb(246, 254, 219, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 2vw auto 50px auto;
}



.card-text {
    font-size: 1em;
    color: white;
    font-weight: bold;
    font-family: arial, san-serif;
}

.card {
    width: 10em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgb(112, 82, 74, 0.19);
}



.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-title1 {
    color: rgb(255, 255, 255);
    font-size: 4em;
    font-weight: bold;
}

.card-title2 {
    color: rgb(255, 255, 255, .87);
    font-size: 4em;
}

.btn {
    background-color: #C24A2B;
    border: #C24A2B;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-weight: bold;
}