{% extends "wordnerd/WordNerd_base.html" %}

{% block title %} Create a word  {% endblock %}

{% block header %} {% endblock %}
{% block content %}
<!--This is the section where one can enter the data for the word-->
<h2>Word Form</h2>
<hr>
<form action="" method="POST">
    {% csrf_token %}
    {{wform.as_p}}
    <input type="submit">
</form>
<!--This is the section where on can optionally add the etymology of a word-->
<h2>Etymology Form (<i>optional</i>)</h2>
<hr>
<form action="" method="POST">
    {% csrf_token %}
    {{eform.as_p}}
    <input type="submit">
</form>

{% endblock %}