{% extends "wordnerd/WordNerd_base.html" %}
{% block title %}View your words{% endblock %}
<!--For loop that displays all the data with all-->
{% block header %} <h2>Please Select a word to view its details!</h2>{% endblock%}
{% block content %}

<hr>
<!--Lists all word names in a list that allows the user to click them and be redirected to a details page (WordNerd_worddetails.html)-->
{% for words in allWords %}

Name: <a id="Name_Select" href="{% url 'WordNerd_worddetails' words.id %}">{{ words.word_name }}</a> <br>

<hr>
{% endfor %}

{% endblock %}


