{% extends "wordnerd/WordNerd_base.html" %}
{% block title %}View your words{% endblock %}
<!--For loop that displays all the data with all-->
{% block content %}
<hr>
{% for words in allWords %}

    Name: {{ words.word_name }} <br>

    Definition: {{ words.word_definition }} <br>

    Sentence Example: {{ words.word_in_a_sentence }} <br>

    Parent Language(s): {{ words.parent_languages }}<br>

    Where You Heard The Word: {{ words.where_did_you_find_the_word }} <br>
<hr>
{% endfor %}



{% endblock %}


<!---->