/* -------------- App Level Style ------------------- */
.cryptoapp-base--html {
    background-color: #f8edc3;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    }

.cryptoapp-base--body {
    padding-bottom: 2.5rem;
}

.cryptoapp-base--footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 1.6rem;
    width: 100%;
    height: 2.5 rem;
}

/* -------------- Navbar ------------------- */
.cryptoapp-nav--container {
    width: viewport-width;
    background-color: burlywood;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

.cryptoapp-nav--link {
    height: 30px;
    float: left;
    color: #702d00;
    text-align: center;
    padding: 0px 14px;
    font-size: calc(10px + 0.6vw);
    text-decoration: none;
    border: 2px;
    border-color: black;
}

.cryptoapp-nav--link:hover {
    color: #d02d00;
}

/* -------------- Home Page ------------------- */

.cryptoapp-home--list {
    padding-top: 0px;
}


/* -------------- AddCurrency Page ------------------- */
.new-crypto-form {
    margin-top: 20px;
    margin-left: 10px;
    list-style: none;
}

.new-crypto-button {
    margin-top: 10px;
}


/* -------------- AddStatus Page ------------------- */



/* -------------- Display Page ------------------- */

.cryptoapp-display--table {
    margin-top: 20px;
    margin-left: 10px;
}

.cryptoapp-display--table, th, td {
    border: 1px solid black;
    background-color: #FFF;
    text-align: center;
    }



/* -------------- Details Page ------------------- */
.cryptoapp-details--list{
    list-style: none;
}