{% extends 'UpcomingConcertsApp\sub_pages_base.html' %}
{% block title %}View Items{% endblock %}
{% block page-title %}View Database Items{% endblock %}
{% block sub-heading %}This page displays all database items{% endblock %}
{% block sub-body %}

<h2> Events 1.0 </h2>
{% for event in all_events %}
<ul>
    <li><a href="{{ event.id }}/details">{{ event.event_name }}</a></li>
</ul>
{% endfor %}

<div class="display-events">
    <h2> Events</h2>
    {% for event in all_events %}
    <h5>Event Name:</h5>
    {{ event.event_name }}<br/>
    <h5>Orchestra:</h5>
    {{ event.orchestra }}<br/>
    <h5>Pieces:</h5>
    {% for piece in all_event_pieces %}
        {% if piece.concert_id == event.id %}
            {% for names in all_pieces %}
                {% if piece.piece_id == names.id %}
                    {{ names.piece_composer }}, {{ names.piece_name }}<br>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    <h5>Conductor:</h5>
    {{ event.conductor }}<br/>
    <h5>Date:</h5>
    {{ event.date|date:"D d M Y" }}
    <hr/>
    {% endfor %}

</div>
<h2>Pieces in the Database:</h2>
{% for piece in all_pieces %}
<h5>Piece Name:</h5>
{{ piece.piece_name }}<br/>
<h5>Composer:</h5>
{{ piece.piece_composer }}<br/>
<h5>Concerts on which it is programmed:</h5>
{% for piece_program in all_event_pieces %}
    {% if piece_program.piece_id == piece.id %}
        {% for event in all_events %}
            {% if piece_program.concert_id == event.id %}
                {{ event.event_name }}, {{ event.orchestra }}<br>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
<hr/>
{% endfor %}

<h2>Orchestras in the Database</h2>
{% for orchestra in all_orchestras %}

{{ orchestra.orchestra_name }}
<hr/>

{% endfor %}

<h2>Conductors in the Database</h2>
{% for conductor in all_conductors %}
{{ conductor.conductor_name }}<br/>
<hr/>

{% endfor %}

{% endblock %}