{% extends "CampSite/CampSite_base.html" %}
{% load static %}

{% block title %} Browse Campsites {% endblock %}

{% block hero-text %} Discover the best campsites for your next Northwest adventure! {% endblock %}


{% block content%}
<br><br>
			<h2 class="table_header">All Campsites:</h2>

			<table class="table table-responsive" id ="browse_table">
				<tr id="header_row">
					<th>Name</th>
					<th>State</th>
					<th>Type</th>
					<th>Access</th>
					<th>More info</th>
				</tr>
				{% for campsite in campsite %}
				<tr>
					<td class="cell1">{{ campsite.name }}</td>
					<td class="cell2">{{ campsite.state }}</td>
					<td>{{ campsite.type }}</td>
					<td>{{ campsite.access }}</td>
					<td> more info </td>
				</tr>
				{% endfor %}
			</table>

{% endblock %}