{% extends "CampSite/CampSite_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} National Forest Sites {% endblock %}

{% block jumbotron-text %} Find <br> Your <br> Spot {% endblock %}


{% block content%}
    <h2 class="table_header">National Forest Sites:</h2>
    <table class="table table-responsive browse_table">
        <tr id="header_row">
            <th>Site Name</th>
            <th>Access</th>
            <th>Type</th>
            <th>Link</th>
        </tr>
        {% for page_obj in page_obj %}
        <tr>
            <td>{{ page_obj.name }}</td>
            <td>{{ page_obj.access }}</td>
            <td>{{ page_obj.type }}</td>
            <td><a href="{{ page_obj.full_link }}">Details</a></td>
            {% endfor %}›
        </tr>
        <tr>

        </tr>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous%}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}