{% extends 'SeattleNightLife/SeattleNightLife_base.html' %}
{% load staticfiles %}


{% block title %}Seattle Night Life{% endblock %}

{% block header %}{% endblock %}

{% block content %}
        <!--Home-->
	<div id="Home">
		<div class="text-center">
			<h1><span class="head-main">A brief history of Seattle's music influence</span></h1>
		</div>
	</div>
  <!--End of Home-->
<br>

	<!--Info-->
  	<div id="Info">
		<div class="text-center">
			<h1><span class="head-main">Seattle's iconic places</span><h1>
		</div>
	</div>
  <!--End of Info-->


{% endblock %}
















