{% extends 'MyThai/MyThai_base.html' %}

{% block tile %} MyThai! | Edit Details {% endblock %}

{% block content %}

    <div>
        <form method="POST" action="../dish/edit">
            <table>
                {% csrf_token %}
                {{ form.nonfield_errors }}
                {{ form.as_table }}
            </table>
            <div>
                <input type="submit">
                <div>
                    <button class="btn">Delete</button>
                    <button class="btn">Cancel</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}