{% extends "SeafoodApp/SeafoodApp_base.html" %}
{% block title %}Fresh Seafood{% endblock %}




{% block content %}

    <div class="details-container">
        <table>
            <tr>
                <th>{{ seafood.name }}</th>
            </tr>
                <tr>
                    <td class="data-container">
                        <p>Seafood Location: {{ seafood.location }}</p>
                        <p>Harvest season date: {{ seafood.harvested_during }}</p>
                        <p>Is the seafood wild or farmed?: {{ seafood.wild_caught }}</p>
                    </td>
            </tr>
        </table>
    </div>
    <a href="{% url 'seafoodlookup' %}">
        <center><button type="button">Return to Lookup Page</button></center>
    </a>

{% endblock %}
