

form {
    margin: 10px;
    padding: 5px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    color: goldenrod;
}


cover{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top;
    background-attachment: fixed;

}

