{% extends 'MarvelComicsApp/MarvelComicsApp_base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="register-container">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn-primary btn-lg">Register</button>
            <a href="{% url 'MarvelComicsAppHome' %}">
                <button type="button" class="btn-secondary btn-lg">Cancel</button>
            </a>
        </form>
    </div>
</div>

{% endblock %}