body {
    background: black url(https://www.runescape.com/img/rsp777/bg2.jpg) repeat-y center top;
    margin: 0 auto;
    overflow-y: hidden;
    padding: 0 50px;
    width: 815px;
}

.banner {
    background: url(https://www.runescape.com/img/rsp777/title2/rslogo3.png) no-repeat center;
    display: block;
    margin-bottom: 25px;
    min-height: 135px;
    text-align: center;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
  font-size: 3.5rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}