{% load static %}

{% block title %}StockApp{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../../static/css/StockApp.css">
</head>

<body>
   <h1>Welcome to StockApp</h1>

   <div>
      <ul>
        <ul><a href="">Work in progess</a></ul>
        <ul><a href="{% url 'StockApp_home' %}">Watch list</a></ul>
        <ul><a href="">Work in progress</a></ul>
      </ul>

   </div>
</body>

<footer>

</footer>
</html>


