{% extends "StockApp/StockApp_base.html"  %}

{% block title %} Stock Details {% endblock %}

{% block content %}

<h1>Testing </h1>


    <div id="content" class="grid-container" >

    {% this_stock.object[%] %}
        <div id="content" >
        <br>
            <ul>Stock: {{ item.name }}</ul>
            <ul>Market Cap:{{ item.market_cap }}</ul>
            <ul>Time Checked: {{ item.time_stamp }}</ul>
            <ul>Price: {{ item.price }}</ul>
            <ul>ID: {{ item.pk }} </ul>
        <br>
        </div>
        {% endfor %}
    </div>

{% endblock %}


