{% load static %}

<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href= "../../static/css/StockApp.css" >
		<title>{% block title%}{% endblock %}</title>
	</head>
	<header>
			<div class="">
				   <div>
					  <ul>
						<ul><a href="{%url 'StockApp_home'%}">Work in progess!</a></ul>
						<ul><a href="#">Watch list</a></ul>
						<ul><a href="{%url 'StockApp_newstock'%}">Work in progress</a></ul>
					  </ul>
				   </div>
			</div>
	</header>
	<body id="">
		<div class="">
			{% block content %}{% endblock %}
			<br><br>
		</div>
	</body>
</html>