{% extends 'StockApp/StockApp_base.html' %}

{% block title %}Watchlist{% endblock %}

{% block content %}
<div style="text-color: white; " >
    <ul>
        <div id="content" class="grid-container" >

        {% for item in all_stocks %}
            <div id="content">
            <br>
            <ul>{{ item.name }}</ul>
            <ul>{{ item.market_cap }}</ul>
            <ul>{{ item.time_stamp }}</ul>
            <ul>{{ item.price }}</ul>
            <br>
            </div>
            {% endfor %}
        </div>
    </ul>
</div>

{% endblock %}