{% extends 'HikingFunApp/HikingFunApp_base.html' %}

{%block header %} Trail Details {% endblock %}

{% block content %}
    <div>
        <form method="POST" action="{% 'details' %}">
            <table>
                {% csrf_token %}
                {{  form.non_field_errors }}
                {{ form.as_table }}
            </table>
            <div>
                <p> You can makes changes to the hike information and submit using the buttons below. </p>
                <button class="btn" type="submit"> Submit Changes </button>
            </div>
        </form>
            <div>
                <p>To delete this trail, click below:</p>
                <button class="btn"><a href="{% url 'delete' item.id %}"> Delete </a></button>
            </div>
    </div>

{% endblock %}
