{% extends 'HikingFunApp/HikingFunApp_base.html' %}

{%block header %} Trail Details {% endblock %}

{% block content %}
    <div class="center">
        <ul class="details">
            <li class="list_item"> Name: {{ item.name }} </li>
            <li class="list_item"> Location: {{ item.location }}</li>
            <li class="list_item"> Roundtrip Miles: {{ item.roundtripMiles }}</li>
            <li class="list_item"> Difficulty: {{ item.difficulty }}</li>
            <li class="list_item"> Camping: {{ item.camping }} </li>
        </ul>
    </div>

{% endblock %}