{% extends "VegRestaurant/VR_base.html" %}

{% load staticfiles %}

{% block content %}
<div style="text-align: center;">
    <h2>Order</h2>
</div>





<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Dish Name</th>
    </tr>
  </thead>
  <tbody>

    <tr>
        <th scope="row">{{order.id}}</th>
        <td>{{order.first_name}}</td>
        <td>{{order.last_name}}</td>
|       <td>{{order.phone_number}}</td>
        <td>{{order.dish_name}}</td>
    </tr>
  </tbody>
</table>

{% endblock %}
<!--
