
h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-family: arial;
}

p {
    text-align: center;
}
/*** Navbar Styling ***/
.Navbar {
  overflow: hidden;
  background-color: #F5AD8C;
}

.Navbar a {
  float: left;
  color: #322514;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.Navbar a:hover {
  background-color: #f2f2f2;
  color: #e75874;
}

.Navbar a.active {
  background-color: #E4A9A4;
  color: black;
}

