body {
    font-family: 'Playfair Display', serif;
}
/* This controls the form size */
.formContainer {
    background-color: #a8dadc;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    border-radius: 10px;
    border: 1px solid #457b9d;
    transition: all 0.3s ease-in-out;
    transition: 0.3s
}


/* form item container */
.frmObject_container {
	display: block;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.formBlock {
    margin: 1rem auto;
}

.formBtn {
    margin-top: 2rem;
}
/* Controls the background in the body */
.bg_img {
    background-image: url('/static/LABucketListApp/images/background.jpg');
    background-attachment:fixed;
    background-position: center;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* displays all the headers in the center */
.header-center {
    text-align: center;
    font-family: 'Playfair Display', serif;
	color: white;
	font-size: 50px;
	margin: 25px auto;
}

/* Displays LOS ANGELES */
.home-header {
	font-family: 'Playfair Display', serif;
	color: white;
    font-size: 100px;
    position: absolute;
    top: 350%;
    left: 25%;
}


/* make sures that bootstrap only displays 3 columns of cards */
.card-columns {
    @include media-breakpoint-only(xl) {
        column-count: 3;
    }
}

/* Displays for index pagination */

.wrapper {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-link {
    position: relative;
    display: block;
    color: #673AB7 !important;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #673AB7 !important
}

.page-link:hover {
    z-index: 2;
    color: #fff !important;
    background-color: #673ab7;
    border-color: #024dbc
}

.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none
}

/* Displays for details page */
#details-card {
    margin: auto;
    max-width: 1000px;
    width: 100%;
    padding: 2rem 4rem 4rem;
    background-color: rgb(46, 45, 45);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.row {
    margin: 0
}

.path {
    color: grey;
    margin-bottom: 1rem;
    margin-top: 0;
}

.path a {
    color: #ffffff;
}

.info {
    padding: 2vh 0vh;
}

.title .col {
    padding: 0;
    margin-top: 1rem;
}

#description {
    margin-left: 3vh;
    color: grey;
}

/* controls the price */
.price {
    margin-top: 2rem;
}

/* controls the price */
label.radio input:checked+span {
    border: 1px solid white;
    padding: 1vh 4vh;
    background-color: rgb(54, 54, 54);
    margin-right: 2vh;
    color: #ffffff;
    display: inline-block;
}

.lower {
    margin-top: 2rem;
}

.lower .col {
    padding: 0;
}

a:hover {
    color: unset;
    text-decoration: none;
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
}


/* IF THE DETAILS HAD AN IMAGE
@media(max-width:768px) {
    .card {
        width: 100%;
        padding: 1.5rem
    }
}

img {
    height: fit-content;
    width: 75%;
    padding: 1rem
}

@media(max-width:768px) {
    img {
        padding: 2.5rem 0
    }
}
*/

.carousel-control-prev {
    width: unset
}

.carousel-control-next {
    left: 8vh;
    right: unset;
    width: unset
}
