{% extends 'CocktailsApp/CocktailsApp_base.html' %}
{% load static %}
{% block title %}Edit Cocktail{% endblock %}
{% block header %} Edit Cocktail {% endblock %}



{% block content %}

    <!-- Edit cocktail form -->
    <div class="formContainer">
        <!-- Refer to specific cocktail with it's assigned primary key -->
        <form method="POST" action="{% url 'CocktailsApp_edit' cocktail.pk %}">
            <div class="formBlock">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.as_p }}
            </div>
            <div class="formBtn">

                <!-- Update button -->
                <input type="submit" class="btn btn-secondary" value="Update Cocktail" name="Save_Item">

                <!-- Button trigger modal to delete -->
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"><strong>Delete</strong></button>

                <!-- Cancel Button and back to Cocktail Details -->
                <a href="{% url 'CocktailsApp_details' cocktail.pk %}"><button type="button" class="btn btn-dark" value="Cancel">Cancel</button></a>
            </div>
        </form>



    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalLabel">Delete Cocktail</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <h5>Are you sure you want to delete "{{cocktail.name|title }}" from the database?</h5>
          </div>
          <div class="modal-footer">
              <form method="POST" action="{% url 'CocktailsApp_delete' cocktail.pk %}">
                  {% csrf_token %}
                  <button class="btn btn-danger" type="submit"><strong>Yes</strong></button>
                  <button class="btn btn-secondary" data-dismiss="modal"><strong>No</strong></button>
              </form>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal -->


{% endblock %}



{% block footer %}{% endblock %}