{% extends 'CocktailsApp/CocktailsApp_base.html' %}
{% load static %}
{% block title %}Cocktails - Home{% endblock %}
{% block header %} Cocktails App{% endblock %}



{% block content %}
<div class="image-container">

    <div class="column" >
            <a href="{% url 'CocktailsApp_home' %}" class="home-image" style="width:100%">
      <img src="{% static 'images/app-images/CocktailsApp.jpg' %}" alt="Cocktail">
    </a>
    </div>


    <div class="column">
        <p id="home-info">Everything about cocktails. Create cocktails, look through the index, and even access a Cocktail API.</p>
    </div>
</div>






{% endblock %}



{% block footer %}{% endblock %}