{% extends "CryptoApp/CryptoApp_base.html" %}

{% block title %} Cryptocurrency Summary {% endblock %}

{% block content %}

    <div class="display-table">
        <table>
            <tr>
                <th>Currency</th>
                <th>Coin/Token</th>
                <th>Type</th>
                <th>Launch Year</th>
                <th>Value</th>
                <th>Total Supply</th>
                <th>Market Cap</th>
                <th>Transactions/Second</th>
            </tr>
            {% for record in cryptos %}
            <tr>
                <!-- Using record.currency from CoinStatus ForeignKey to get Currency method values -->
                <td><a href="/CryptoApp/details/{{ record.id }}/"> {{ record.currency.chain_name }} </a></td>
                <td>{{ record.currency.coin_unit }}</td>
                <td>{{ record.currency.chain_type }}</td>
                <td>{{ record.currency.launch_year }}</td>
                <td>{{ record.value }}</td>
                <td>{{ record.supply }}</td>
                <td>{{ record.market_cap }}</td>
                <td>{{ record.transactions_per_sec }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>

{% endblock %}