{% extends "CryptoApp/CryptoApp_base.html" %}

{% block title %} CryptoApp Home {% endblock %}

{% block content %}

    <h2>Cryptocurrency Database</h2>
    <p>On this site you can update and monitor information on cryptocurrencies. Several functionalities are built in:</p>
    <ol class="home-list">
        <li>Entering data for a blockchain.</li>
        <li>Updating data regarding the coin or token for a blockchain.</li>
        <li>Viewing all currencies in the database in a table.</li>
        <li>Viewing the details for a specific currency (which can be accessed via the links in the display table.</li>
    </ol>

{% endblock %}