{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/CryptoApp.css' %}">
        <!-- Placeholder for individual page titles -->
        <title>{% block title %}{% endblock %}</title>
    </head>


    <body>

        <header>
            <nav>
                <!-- Inserting navbar from separate file -->
                {% include "CryptoApp/CryptoApp_navbar.html" %}
            </nav>
        </header>


        <div class="cryptoapp-container">
            <!-- Placeholder for individual page content -->
            {% block content %}{% endblock %}
        </div>


        <footer>
            <br>
            &#169; 2021 The Cryptocurrency App |
            <!-- Link back to project main page -->
            <a href="{% url 'home' %}">Back to AppBuilder9000</a>
        </footer>

    </body>

</html>