{% extends 'base.html' %}
{% load static %}

{% block page-title %}App Builder 9000{% endblock %}
{% block page-subtitle %}Python Live Project{% endblock %}
{% block button1 %}<a href="#apps" class="contact-btn">Portfolio</a>{% endblock %}
{% block button2 %}<a href="#about" class="contact-btn">Contact Us</a>{% endblock %}

{% block appcontent %}
    <section class="masonry-grid" id="apps">
        <br><br>
        <h2 class="sub-title">App Directory</h2>
          <div class="grid">

              <!-- World Recipes App Link -->
              <a href="{% url 'WR_home' %}" class="grid-item app-image">
                  <img src="{% static 'images/app-images/WR_recipes.jpeg' %}" alt="Food">
                  <div class="fadedbox">
                      <div class="title text"> World Recipes </div>
                  </div>
              </a>
              <!-- End World Recipes App Link -->

              <!-- SharksApp Link -->
              <a href="{% url 'SharksApp_home' %}" class="grid-item app-image">
                  <img src="{% static 'images/app-images/SharksApp.jpg' %}" alt="Sharks">
                  <div class="fadedbox">
                      <div class="title text">Sharks App</div>
                  </div>
              </a>

              <!--Word Nerd link start-->
              <a href="{% url 'WordNerd_home' %}" class="grid-item app-image">
                  <img src="{% static 'images/app-images/WordNerd.jpg' %}" alt="Dictionary">
                  <div class="fadedbox">
                      <div class="title text">Word Nerd</div>
                  </div>
              </a>
              <!-- End WordNerd Link -->

              <!-- Guitar App Link -->
              <a href="{% url 'GuitarReviews_home' %}" class="grid-item app-image">
                  <img src="{% static 'images/app-images/guitarapp.jpg' %}" alt="Guitar Sound Hole and Strings">
                  <div class="fadedbox">
                      <div class="title text">Guitar Reviews</div>
                  </div>
              </a>
              <!-- End Guitar App Link -->

              <!-- Sea Shanties Link -->
              <a href="{% url 'shanties_home' %}" class="grid-item app-image">
                  <img src="{% static 'images/app-images/SeaShanty.jpg' %}" alt="Sailors Posing With Concertina">
                  <div class="fadedbox">
                      <div class="title text">Sea Shanties</div>
                  </div>
              </a>
              <!-- End Sea Shanties Link -->

              <!-- MyThai App Link -->
              <a href="{% url 'MyThai_home' %}" class="grid-item app-image">
                  <img src="{% static 'images/app-images/MyThai.jpg' %}" alt="Tofu and Curry">
                  <div class="fadedbox">
                      <div class="title text">MyThai!</div>
                  </div>
              </a>

              <!-- StockApp Link -->
              <a href="{% url 'StockApp_home' %}" class="grid-item app-image">
                  <img src="{% static 'images/app-images/StockApp2.jpg' %}" alt="StockApp">
                  <div class="fadedbox">
                      <div class="title text">StockApp</div>
                  </div>
              </a>

              <!-- TheAnimeApp link -->
              <a href="{% url 'AnimeHome' %}" class="grid-item app-image">
                  <img src="{% static 'images/app-images/pinkimage.png' %}" alt="TheAnimeApp">
                  <div class="fadedbox">
                      <div class="title text">TheAnimeApp</div>
                  </div>
              </a>


               <!-- Theaters_and_Features Link -->
             <a href="{% url 'Theater_home' %}" class="grid-item app-image">
                  <img src="{% static 'images/app-images/Theater.jpg' %}" alt="Movie Theater">
                  <div class="fadedbox">
                      <div class="title text">Theaters and Features</div>
                  </div>
              </a>
              <!-- End Theaters_and_Features Link -->


          </div>
    </section>

    <section class="beating-heart" id="about">
        <div class="wrapper">
            <h2 class="sub-title">About Us</h2>
            <p>We're creating software designed to help hobbyists keep track of their collections of items <br/>
                as well as interact with APIs and use DataScraping to get up to date information on things <br/>
                related to those collections and hobbies. This project is built using Python, Django, SQLite,
                and HTML/CSS.</p>
            <span>We</span>
            <svg class="heart" viewBox="0 0 50 50">
                <path style="fill:red;" d="M24.85,10.126c2.018-4.783,6.628-8.125,11.99-8.125c7.223,0,12.425,6.179,13.079,13.543
                	c0,0,0.353,1.828-0.424,5.119c-1.058,4.482-3.545,8.464-6.898,11.503L24.85,48L7.402,32.165c-3.353-3.038-5.84-7.021-6.898-11.503
                	c-0.777-3.291-0.424-5.119-0.424-5.119C0.734,8.179,5.936,2,13.159,2C18.522,2,22.832,5.343,24.85,10.126z"/>
            </svg>
            <span>Python</span>
        </div>
    </section>
{% endblock %}

