{% extends "SharksApp_base.html" %}

{% block title %} Shark Database {% endblock %}

{% block header %} All About Your Favorite Sharks! {% endblock %}

{% block content %}
        <table>
            <tr>
                <th>Species</th>
                <th>Family</th>
                <th>Diet</th>
                <th>Description</th>
                <th>Location</th>
                <th>Endangered</th>
            </tr>
            {% for shark in all_sharks %}
            <tr>
                <td>{{ shark.species }}</td>
                <td>{{ shark.family }}</td>
                <td>{{ shark.diet }}</td>
                <td>{{ shark.description }}</td>
                <td>{{ shark.location }}</td>
                <td>{{ shark.endangered }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}