{% extends "SharksApp_base.html" %}

{% block title %} Edits {% endblock %}

{% block header %}

    Make Edits to Your Favorite!

{% endblock %}

{% block content %}

    <div class="form_container">
        <form name="SharksForm" method="POST" action="../{{ shark.pk }}SharksApp_editpage/">
            <div class="formObject_container">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="btn">
                    <input type="submit" value="Update">
                    <button class="delete_btn" type="button" onclick="document.getElementById('delete_modal').style.display='block'">Delete</button>
                </div>
            </div>
        </form>
    </div>

    <div id="delete_modal" class="modal">
        <span onclick="document.getElementById('delete_modal').style.display='none'" class="close">x</span>
        <form class="modal_content" action="">
            <div class="modal_container">
                <h1>Delete Species</h1>
                <p>Are you sure you want to delete this species from the database?</p>

                <div class="clearfix">
                    <button class="other_btn" type="button" onclick="document.getElementById('delete_modal').style.display='none'">No</button>
                    <button class="other_btn" type="button" onclick="{{ Delete_Shark }}">Yes</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        var modal = document.getElementById('delete_modal');
    </script>

{% endblock %}
