body {
  background-color: #ADD8E6;
}

table {
    margin: 4%;
}

h1 {
	text-align: center;
	}

.form-container {
    margin: 0 auto;
    width: 20%;
    height: 100%;
    background-color: #fffaf4;
	border: 1px solid #d6d6d6;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	transition: all 0.3s ease-in-out;
	border-radius: 10px;
    transition: 0.3s;
    opacity: 0.8;
    padding: 2%

}

.form-container:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	transition: opacity 0.7s ease-in-out;
    opacity: 1;
}

td {
    border: 1px solid black
}
.table-container {
    background-color:  #ccffff;
    display: flex;
    margin: 4%;
    border-radius: 25px;
    opacity: 1;
}

.table-search-container {

}

.table-class-style {
    width: 100%;
}

.details-container {
    margin: 0 auto;
    width: 20%;
    height: 500px;
    background-color: #fffaf4;
	border: 1px solid #d6d6d6;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	transition: all 0.3s ease-in-out;
	border-radius: 10px;
    transition: 0.3s;
    opacity: 0.8;
    padding: 2%
}

.data-container {
    border: none;

}