{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/MusicAppStyling.css' %}">
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
    <header>
        <nav> <!-- our Navigation bar -->
            {% include 'MusicApp/MusicApp_navbar.html' %}
        </nav>
    </header>
            {% block content %}{% endblock %}
</body>
</html>
